<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script>

function start() {
    var stations = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Stations',
        marker: {
          color: 'rgb(135, 135, 135)',
          size: 2
        }
    };
	
	var planets = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Stations on Planet surface',
        marker: {
          color: 'rgb(95, 198, 218)',
          size: 2
        }
    };
	
	var asteroids = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Asteroids',
        marker: {
          color: 'rgb(194, 158, 35)',
          size: 2
        }
    };
	
	var base = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Base',
        marker: {
          color: 'rgb(250, 0, 0)',
          size: 2
        }
    };
	
	stations = loadGPSpoints(stations, "estaciones");
	planets = loadGPSpoints(planets, "planetas");
	asteroids = loadGPSpoints(asteroids, "asteroides");
	base = loadGPSpoints(base, "bases");
	
	var data = [ stations, planets, asteroids, base];

    var layout = {
        autosize: true,
        height: 1024,
        scene: {
            aspectratio: {
                x: 1,
                y: 1,
                z: 1
            },
            camera: {
                center: {
                    x: 0,
                    y: 0,
                    z: 0
                },
                eye: {
                    x: 1.25,
                    y: 1.25,
                    z: 1.25
                },
                up: {
                    x: 0,
                    y: 0,
                    z: 1
                }
            },
            xaxis: {
                type: 'linear',
                zeroline: false
            },
            yaxis: {
                type: 'linear',
                zeroline: false
            },
            zaxis: {
                type: 'linear',
                zeroline: false
            }
        },
        title: 'Keen UK#2 Galactic Map',
        width: 1024
    };

    Plotly.newPlot('myDiv', data, layout, {scrollZoom: true});	
	
};
	
function loadGPSpoints(trace, id){

debugger
	var text = document.getElementById(id).value;
	var puntos = text.split("GPS:");
	
	for (i = 0 ; i < puntos.length ; i++) {
	
		var punto = puntos[i].split(":");
		if(punto.length == 6) {
		
			trace.x.push(punto[1]);
			trace.y.push(punto[2]);
			trace.z.push(punto[3]);
		}
	}
	return trace;
} 
	
	</script>
</head>

<body onload="start()">
	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
	<br>
	Stations in space or planets orbit<br>
<textarea id="estaciones" name="estaciones" rows="10" cols="100">
GPS:St Europa MEMA:920835.58:4768.34:1613257.15:#FF75C9F1:

	
</textarea>
<input type="button" value="Update" onclick="start()">

	<br>
	Stations on Planets surface <br>
<textarea id="planetas" name="planetas" rows="10" cols="100">
GPS:St Europa Surf DVDC:923584.68:10174.57:1615710.39:#FF75C9F1:
GPS:St Triton surf - IMEX:15:18:-252832.38:#FF75C9F1:
GPS:St Triton Surf IMEX:-313404.28:-2429547.08:341215.6:#FF75C9F1:
	
</textarea>
<input type="button" value="Update" onclick="start()">

	<br>
	Asteroids <br>
<textarea id="asteroides" name="asteroides" rows="10" cols="100">

	
</textarea>
<input type="button" value="Update" onclick="start()">

	<br>
	Bases <br>
<textarea id="bases" name="bases" rows="3" cols="100">
GPS:St Titan GCCO:37009.53:238589.61:5793750.41:#FF75C9F1:
	
</textarea>
<input type="button" value="Update" onclick="start()">

</body>