<head>
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script>

function start() {
    var stations = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Estaciones',
        marker: {
          color: 'rgb(135, 135, 135)',
          size: 2
        }
    };
	
	var planets = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Estaciones Planetarias',
        marker: {
          color: 'rgb(95, 198, 218)',
          size: 2
        }
    };
	
	var asteroids = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Asteroides',
        marker: {
          color: 'rgb(194, 158, 35)',
          size: 2
        }
    };
	
	var base = {
        x: [],
        y: [],
        z: [],
        mode: 'markers',
        type: 'scatter3d',
		name: 'Base',
        marker: {
          color: 'rgb(250, 0, 0)',
          size: 2
        }
    };
	
	stations = loadGPSpoints(stations, "estaciones");
	planets = loadGPSpoints(planets, "planetas");
	asteroids = loadGPSpoints(asteroids, "asteroides");
	base = loadGPSpoints(base, "bases");
	
	var data = [ stations, planets, asteroids, base];

    var layout = {
        autosize: true,
        height: 1024,
        scene: {
            aspectratio: {
                x: 1,
                y: 1,
                z: 1
            },
            camera: {
                center: {
                    x: 0,
                    y: 0,
                    z: 0
                },
                eye: {
                    x: 1.25,
                    y: 1.25,
                    z: 1.25
                },
                up: {
                    x: 0,
                    y: 0,
                    z: 1
                }
            },
            xaxis: {
                type: 'linear',
                zeroline: false
            },
            yaxis: {
                type: 'linear',
                zeroline: false
            },
            zaxis: {
                type: 'linear',
                zeroline: false
            }
        },
        title: 'Mapa galactivo keen 2',
        width: 1024
    };

    Plotly.newPlot('myDiv', data, layout, {scrollZoom: true});	
	
};
	
function loadGPSpoints(trace, id){

debugger
	var text = document.getElementById(id).value;
	var puntos = text.split("GPS:");
	
	for (i = 0 ; i < puntos.length ; i++) {
	
		var punto = puntos[i].split(":");
		if(punto.length == 5) {
		
			trace.x.push(punto[1]);
			trace.y.push(punto[2]);
			trace.z.push(punto[3]);
		}
	}
	return trace;
} 
	
	</script>
</head>

<body onload="start()">
	<div id='myDiv'><!-- Plotly chart will be drawn inside this DIV --></div>
	<br>
	Estaciones <br>
<textarea id="estaciones" name="estaciones" rows="10" cols="100">
	GPS:St Earth MTSL:15600.74:-100051.3:20194.52:
	GPS:St Europa FCDE:925361.07:20684.44:1608266.04:
	GPS:St Moon DVMA +:14464.96:141927.64:-102625.6:
	GPS:St Moon ISSB +:25823.7:136048.72:-105415.3:
	GPS:St Moon MEPR:9023.74:133780.79:-119094.63:
	GPS:St Moon MTSB +:17461.48:124509.85:-117365.4:
	GPS:St Moon RLMC:21531.7:127216.84:-120374.83:
	GPS:St Moon RVRL 2:8308.69:141678.16:-121566.16:
	GPS:St Moon RVSL 1:18623.16:137445.84:-125842.68:
	GPS:St Titan DVMA +:25117.62:231242.31:5798580.08:
	GPS:St Titan DVMA +:25118.58:231242.76:5798591.03:
	GPS:St Titan DVMA +:34588.89:228347.38:5784206.02:
	GPS:St Titan MTSB +:30081.53:221015.73:5787065.63:
	GPS:St Titan SCEG +:30858.32:227177.49:5807566.47:
	GPS:St Titan SCHI *****:41096.23:217941.64:5804306.19:	
	
	GPS:St MTSL 21000:-16985839.5:-9630329.65:21356040.91:
	GPS:St RLMC 21000:18840423.09:-9138408.17:9376521.06:
	GPS:St RLMC 21000:18840423.09:-9138408.17:9376521.06:
	GPS:St SMSH 23000:-5375939.64:-22272846.93:538024.25:
	GPS:St SMHS 20000:-2588835.46:2845287.61:26217135.98:

	
</textarea>
<input type="button" value="Actualizar" onclick="start()">

	<br>
	Estaciones Planetarias <br>
<textarea id="planetas" name="planetas" rows="10" cols="100">
	GPS:St Earth Surf SCHI :-36788.52:8544.82:48111.11:
	GPS:St Earth Surf MEPR:14131.33:-59383.68:6233.78:
	GPS:St Earth Surf ??:23:5:-5471.61:
	GPS:St Europa Surf DVMA +:921379.13:18334.81:1624377.66:
	GPS:St Moon Surf RVCS +:19619.55:141544.41:-120947.11:
	GPS:St Titan Surf SCEG:40370.13:229341.99:5804273.54:
	GPS:St Titan Surf STMG *:44243.44:231431.18:5795905.33:
	
</textarea>
<input type="button" value="Actualizar" onclick="start()">

	<br>
	Asteroides <br>
<textarea id="asteroides" name="asteroides" rows="10" cols="100">

	
</textarea>
<input type="button" value="Actualizar" onclick="start()">

	<br>
	Base <br>
<textarea id="bases" name="bases" rows="3" cols="100">
	GPS:atraque0 - CrocoStation:378543.81:835353.88:5587053.04:
	
</textarea>
<input type="button" value="Actualizar" onclick="start()">

</body>